*{
    margin: 0%;
    padding: 0%;
    }
#carouselExampleIndicators{
    width: 500px; 
    height: 500px;    
}
#carrousell{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: green;
    width: 100%;


}
.titulo{

       
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: aliceblue;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
       
        }
#contenedorTiempo{
                    color:aliceblue;
                    background-color: blue;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

}
#logo{
    width: 200px;
    height: 200px;
}
#titulo{
    color: rgb(17, 0, 255);
    text-align: center;
    justify-content: center;
}