#form{
    display: flex;
    flex: row;
    justify-content: center;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: green;
    width: 100%;
}
.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(180, 178, 21);
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    }