*{
    margin: 0%;
    padding: 0%;
    }
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: green;
    width: 100%;
}
.titulo{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#titulo{
    color: rgb(17, 0, 255);
    text-align: center;
    justify-content: center;
}
#logo{
    width: 200px;
    height: 200px;
}

#imagen{

    justify-content: center;
    width: 600px;
    height: 850px;
}
#img{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#btn{
    color: aliceblue;
}